body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #D3D3D3;
    color: black;
    text-align: center;
    padding: 20px;
  }

.fa-arrow-left {
    position: fixed;
    left: 30px;
    font-size: 44px;
    color: black;
  }

.fa-money-bill {
    position: fixed; 
    right: 30px; 
    font-size: 44px; 
    color: black;  
  }
  
  .container {
    display: flex;
    justify-content: center; 
    margin: 0; 
    padding: 20px;
}

.text {
    text-align: center;
    text-decoration: underline;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 50%; 
    margin: 0 auto;
    box-sizing: border-box;
}

.faq-container {
    display: flex;
    margin: 0;
    padding: 20px;
}

.faq {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: large;
}

.faq span {
    text-align: center;
    justify-content: center;
}