{% extends "base.html" %}
{% load static %}

<body> 
    {% block content %}
    <header> 
        <H1>
            <a href="/"><i class="fas fa-arrow-left"></i></a>
            Account Details
            <a href="/contact/"><i class="fas fa-phone"></i></a>
        </H1> 
    </header>
    <main> 
        <div class="iban"> 
            <h3> IBAN </h3>
        </div>
        <div class="details" id="details"> 
            <p> IE18AIB624846476477468 </p>
        </div>
        <div class="bic"> 
            <h3> BIC </h3>
        </div>
        <div class="details" id="details"> 
            <p> AIBKIE4D </p>
        </div>
        <div class="number"> 
            <h3> Account Number </h3>
        </div>
        <div class="details" id="details"> 
            <p> 78357567 </p>
        </div>
        <div class="nsc"> 
            <h3> Sort Code (NSC) </h3>
        </div>
        <div class="details" id="details"> 
            <p> 578356 </p>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <a href="/" class="footer-link">
                <i class="fa-solid fa-file-invoice"></i>
                <span>Accounts</span>
            </a>
            <a href="/profile/" class="footer-link">
                <i class="fas fa-user-circle"></i> 
                <span>Profile</span>
              </a>
              <a href="/more/" class="footer-link">
                <i class="fa-solid fa-ellipsis"></i>
                <span>More</span>
              </a>
          </div>              
    </footer>

    {% endblock content %}
</body>