{% extends "base.html" %}
{% load static %}

<body> 
    {% block content %}
    <header> 
        <H1>
            <a href="/"><i class="fas fa-arrow-left"></i></a>
            Cards
            <a href="/contact/"><i class="fas fa-phone"></i></a>
        </H1> 
        <div class="card-image">
            <img src="{% static 'credit.jpg' %}" alt="Credit">
        </div>
    </header>

    <main> 
        <div class="card-functions"> 
            <p> Freeze my card </p>
            <p> Show my PIN </p>
            <p> Cancel and replace my card </p>
            <p> Replace my damaged card </p>
            <p> Travel note </p>
        </div>
    </main>
    
    <footer>
        <div class="footer-content">
            <a href="/" class="footer-link">
                <i class="fa-solid fa-file-invoice"></i>
                <span>Accounts</span>
            </a>
            <a href="/profile/" class="footer-link">
                <i class="fas fa-user-circle"></i> 
                <span>Profile</span>
              </a>
              <a href="/more/" class="footer-link">
                <i class="fa-solid fa-ellipsis"></i>
                <span>More</span>
              </a>
          </div>              
    </footer>
    {% endblock content %}
</body>