{% extends "base.html" %}
{% load static %}
    <body>
        {% block content %}
        <header> 
        
                        
            <h1> 
                Account 
            </h1>
            <p> Available Funds </p>
            <h3 class="link"> <a href="{% url 'account' %}">Current - 055 Account </a></h3>
            <div class="balance">
                <h2 class="amount"><a href="{% url 'transactions' %}">€1000.00</a></h2>
                <button class="currAccount" onclick="toggleDropdown()"> Current - 055 ▼ </button>
                <div class="menu" id="accountMenu">
                    <a href="/"> Current - 055 </a>
                    <a href="savings/"> Savings - 123 </a>
                </div>
            </div>
        </header>
        <div class="quick-pay">
            <div class="quick-pay-header">
                <h2>Quick Pay </h2>
                <div class="display-payee">+ Display payee</div>
            </div>
            <div class="quick-pay-options">
                <div class="quick-pay-option">
                    <div class="quick-pay-icon">
                        <img src="{% static 'between.png' %}" alt="Between Accounts">
                    </div>
                    <p>Between accounts</p>
                </div>
                <div class="quick-pay-option">
                    <div class="quick-pay-icon">
                        <img src="{% static 'profile.png' %}" alt="Another Account">
                    </div>
                    <p>Another account</p>
                </div>
                <div class="quick-pay-option">
                    <div class="quick-pay-icon">
                        <span class="add-icon">+</span>
                    </div>
                    <p>Add</p>
                </div>
            </div>
        </div>
        <main>
            <div class="functions">
                <div class="circle-button">
                    <a href="{% url 'pay' %}">
                        <img src="{% static 'pay.png' %}" alt="Pay">
                    </a>
                    <p> Pay & Transfers </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'transactions' %}">
                        <img src="{% static 'transaction.png' %}" alt="Transaction">
                    </a>
                    <p> Transactions </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'acc.png' %}" alt="Account">
                    </a>
                    <p> Profile </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'statements' %}">
                        <img src="{% static 'statement.png' %}" alt="Statement">
                    </a>
                    <p> Statements </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'cards' %}">
                        <img src="{% static 'card.jpg' %}" alt="Card">
                    </a>
                    <p> Cards </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'account' %}">
                        <img src="{% static 'details.png' %}" alt="Account">
                    </a>
                    <p> Account Details </p>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-content">
                <a href="/" class="footer-link">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Accounts</span>
                </a>
                <a href="/profile/" class="footer-link">
                    <i class="fas fa-user-circle"></i> 
                    <span>Profile</span>
                </a>
                <a href="/more/" class="footer-link">
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>More</span>
                </a>
                <a href="/contact/" class="footer-link">
                    <i class="fas fa-phone"></i>
                    <span>Contact</span>
                </a>
              </div>              
        </footer>

        <script src="static/script.js"></script>
        {% endblock content %}
    </body>
</html>