{% extends "base.html" %}
{% load static %}
    <body>
        {% block content %}
        <header> 
        
                        
            <h1> 
                Account 
            </h1>
            <p> Available Funds </p>
            <h3> Current - 055 Account </h3>
            <div class="balance">
                <h2 class="amount"><a href="{% url 'transactions' %}">€1000.00</a></h2>
                <button class="currAccount" onclick="toggleDropdown()"> Current - 055 ▼ </button>
                <div class="menu" id="accountMenu">
                    <a href="/"> Current - 055 </a>
                    <a href="savings/"> Savings - 123 </a>
                </div>
            </div>
        </header>
        <div class="quick-pay">
            <div class="quick-pay-header">
                <h2>Quick Pay </h2>
                <a href="#" class="display-payee">+ Display payee</a>
            </div>
            <div class="quick-pay-options">
                <div class="quick-pay-option">
                    <a href="#">
                        <div class="quick-pay-icon">
                            <img src="{% static 'between.png' %}" alt="Between Accounts">
                        </div>
                        <p>Between accounts</p>
                    </a>
                </div>
                <div class="quick-pay-option">
                    <a href="#">
                        <div class="quick-pay-icon">
                            <img src="{% static 'profile.png' %}" alt="Another Account">
                        </div>
                        <p>Another account</p>
                    </a>
                </div>
                <div class="quick-pay-option">
                    <a href="#">
                        <div class="quick-pay-icon">
                            <span class="add-icon">+</span>
                        </div>
                        <p>Add</p>
                    </a>
                </div>
            </div>
        </div>
        <main>
            <div class="functions">
                <div class="circle-button">
                    <a href="">
                        <img src="{% static 'pay.png' %}" alt="Pay">
                    </a>
                    <p> Pay & Transfers </p>
                </div>
                <div class="circle-button">
                    <a href="{% url 'transactions' %}">
                        <img src="{% static 'transaction.png' %}" alt="Transaction">
                    </a>
                    <p> Transactions </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="{% static 'acc.png' %}" alt="Account">
                    </a>
                    <p> Account Details </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="{% static 'statement.png' %}" alt="Statement">
                    </a>
                    <p> Statements </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="{% static 'card.jpg' %}" alt="Card">
                    </a>
                    <p> Cards </p>
                </div>
            </div>
        </main>

        <script src="static/script.js"></script>
        {% endblock content %}
    </body>
</html>