<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AIB Prototype</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'more.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <H1>
                <a href="javascript:void(0);" onclick="goBackOrHome()">
                    <i class="fas fa-arrow-left"></i>
                </a>           
                More
                <a href="/contact/"><i class="fas fa-phone"></i></a>
            </H1> 
        </header>
        <main>
            <div class="container" id="container">
                <H2><i class="fa-solid fa-cart-shopping"></i> <a href='/back/'>Products</a></H2>
                <H3>Apply For a Loan, Credit Card, Mortgage, Insurance</H3>
            </div>
            <div class="container" id="container">
                <H2><i class="fa-solid fa-gear"></i> <a href="/back/">Settings</a></H2>
                <H3>Manage your Notifications, Security and In-App Prefences</H3>
            </div>
            <div class="container" id="container">
                
                <H2><i class="fa-solid fa-headset"></i> <a href="/back/">Support</a></H2>
                <H3>Get In Touch With Customer Service</H3>
            </div>
            <div class="container" id="container">
                <H2><i class="fa-solid fa-right-from-bracket"></i> <a href="/back/">Logout</a></H2>
                <H3>Sign Out</H3>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <a href="/" class="footer-link">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Accounts</span>
                </a>
                <a href="/profile/" class="footer-link">
                    <i class="fas fa-user-circle"></i> 
                    <span>Profile</span>
                  </a>
                  <a href="/more/" class="footer-link">
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>More</span>
                  </a>
              </div>              
        </footer>
        <script src="{% static 'transactions.js' %}"></script>
    </body>
</html>
