<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> AIB Prototype </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header> 
            <h1> Account </h1>
            <p> Available Funds </p>
            <div class="balance">
                <h2 class="amount">€500.00</h2>
                <button class="currAccount" onclick="toggleDropdown()"> Savings - 123 ▼ </button>
                <div class="menu" id="accountMenu">
                    <a href="index.html"> Current - 055 </a>
                    <a href="savings.html"> Savings - 123 </a>
                </div>
            </div>
        </header>
        <main>
            <div class="functions">
                <div class="circle-button">
                    <a href="">
                        <img src="pay.png" alt="Pay">
                    </a>
                    <p> Pay & Tranfers </p>
                </div>
                <div class="circle-button">
                    <a href="transactions.html">
                        <img src="transaction.png" alt="Transaction">
                    </a>
                    <p> Transactions </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="acc.png" alt="Account">
                    </a>
                    <p> Account Details </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="statement.png" alt="Statement">
                    </a>
                    <p> Statements </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="card.jpg" alt="Card">
                    </a>
                    <p> Cards </p>
                </div>
                <div class="circle-button">
                    <a href="">

                    </a>
                    <p> </p>
                </div>
            </div>

            <div class="footer-functions">
                <div class="circle-button">
                    <a href="">
                        <img src="profile.png" alt="Profile">
                    </a>
                    <p> Profile </p>
                </div>
                <div class="circle-button">
                    <a href="">
                        <img src="dots.png" alt="Dots">
                    </a>
                    <p> More </p>
                </div>
            </div>
        </main>

        <script src="script.js"></script>
    </body>
</html>