<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AIB Prototype</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'transactions.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <H1>
                <a href="javascript:void(0);" onclick="goBackOrHome()">
                    <i class="fas fa-arrow-left"></i>
                </a>
                
                Transactions
                <a href="/contact/"><i class="fas fa-phone"></i></a>
            </H1> 
        </header>
        <main>
            <div class="search" id="search">
                <h2>
                    <i class="fas fa-search"></i>
                    <input
                        type="text"
                        id="search-input"
                        placeholder="Search by name or date..."
                        onkeyup="filterTransactions()"
                    />
                </h2>
            </div>
            
            <div class="date" id="date">
                <H1>Today</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">BET365</span>
                    <span class="right-text">€700</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Yesterday</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">Lidl</span>
                    <span class="right-text">€70</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Saturday 16th November</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">Amazon</span>
                    <span class="right-text">€53.47</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Sunday 10th November</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">BET365</span>
                    <span class="right-text">€7000</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Friday 8th November</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">BET365</span>
                    <span class="right-text">€7000</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Wednesday 6th November</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">Tesco</span>
                    <span class="right-text">€21.46</span> 
                </H3>
            </div>
            <div class="date" id="date">
                <H1>Tuesday 5th November</H1>
            </div>
            <div class="today" id="today">
                <H3>
                    <span class="left-text">Curry's PC World</span>
                    <span class="right-text">€81.50</span> 
                </H3>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <a href="/" class="footer-link">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Accounts</span>
                </a>
                <a href="/profile/" class="footer-link">
                    <i class="fas fa-user-circle"></i> 
                    <span>Profile</span>
                  </a>
                  <a href="/more/" class="footer-link">
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>More</span>
                  </a>
              </div>              
        </footer>
        <script src="{% static 'transactions.js' %}"></script>
    </body>
</html>